<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

</head>
<body>
<h1>Please Register Below:</h1>

<div id="lend">
<h2>Lenders</h2>
  <form action="/lenders" method="post">
    <%=token_tag nil %>
    <p>
      <label>First Name</label>
      <input type="text" name="lender[first_name]">
    </p>
    <p>
      <label>Last Name:</label>
      <input type="text" name="lender[last_name]">
    </p>
  	<p>
      <label>Email:</label>
      <input type="text" name="lender[email]">
    </p>
    <p>
      <label>Password:</label>
      <input type="password" name="lender[password]">
	</p>
	<p>
      <label>Confirm PW:</label>
      <input type="password" name="lender[password_confirmation]">
    </p>
    <p>
      <label>Money:</label>
		<select name="lender[money]" size="1">
		  <option value="1000">$1,000</option>
		  <option value="5000">$5,000</option>
		  <option value="10000">$10,000</option>
		</select>
	</p>
    <button type="submit" value="register">Register</button>
  </form>
</div>

<div id="borrow">
<h2>Borrowers</h2>
  <form action="/borrowers" method="post">
    <%=token_tag nil %>
    <p>
      <label>First Name</label>
      <input type="text" name="borrower[first_name]">
    </p>
    <p>
      <label>Last Name:</label>
      <input type="text" name="borrower[last_name]">
    </p>
  	<p>
      <label>Email:</label>
      <input type="text" name="borrower[email]">
    </p>
    <p>
      <label>Password:</label>
      <input type="password" name="borrower[password]">
	</p>
	<p>
      <label>Confirm PW:</label>
      <input type="password" name="borrower[password_confirmation]">
    </p>
    <p>
      <label>Need Money For</label>
      <input type="text" name="borrower[purpose]">
	</p>
	 <p>
      <label>Description</label>
      <textarea type="text" name="borrower[description]"></textarea>
	</p>
	 <p>
      <label>Money:</label>
		<select name="borrower[money]" size="1">
		  <option value="100">$100</option>
		  <option value="500">$500</option>
		  <option value="1000">$1,000</option>
		  <option value="5000">$5,000</option>
		</select>
	</p>
    <button type="submit" value="register">Register</button>
  </form>
</div>

</body>
</html>