
  div {
    display:inline-block;
    vertical-align: top;
    margin-left: 10px;
  }

  #lend{
    width: 300px;
    height: 300px;
    border: 1px solid silver;

  }

  #borrow{
    width: 300px;
    height: 500px;
    border: 1px solid silver;

  }

  #lend, #borrow, h2, form{
    margin-left: 10px;
  }
